.example-card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 50px;
  justify-content: center;
  align-items: flex-start;
}

.full-width {
  width: 100%;
}

mat-card-actions {
  align-self: stretch;
}
