<section class="center">
  <h1>Add new product</h1>
  <form
    class="exampleform"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Category</mat-label>
      <input matInput formControlName="category" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Add Product
    </button>
  </form>
</section>
